.NavBar {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
}

.links {
  margin-left: auto;
  display: flex;
  gap: 8px;
}
