body {
  background-color: palegoldenrod;
  font-size: 100px;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}
